PORT=3000
NODE_ENV=development
CONFIRMATION_URL=https://techover-checkout.herokuapp.com
BASE_URL=https://api.playground.klarna.com
PUBLIC_KEY=xxx
SECRET_KEY=yyy
FAKE_STORE_API_URL=https://fakestoreapi.com